/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ROOT */

body{
    font-family: 'PT Sans', sans-serif;
}

.container{
    width: 100%;
    margin: 0 auto;
}

.bg-lightblue{
    background-color: #B5DDFF;
}


/* header */

header{
    background-color: dodgerblue;
    height: 5rem;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
}

nav{
    padding: 0 2rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img{
    height: 2.5rem;
}

nav i{
    color: white;
    font-size: 2rem;
}

nav ul{
    display: none;
}

/* description */

#description{
    padding-top: 5rem;
}

#description .row{
    padding: 4rem 2rem;
}

#description .column{
    width: 100%;
    margin-bottom: 2rem;
}

#description .big .card{
    text-align: left;
    padding: 2.5rem 2.5rem 0 2.5rem;
}

#description .card{
    height: 100%;
    border-radius: 2rem;
    padding: 2.5rem;
    text-align: center;
}

#description .big .card h3{
    margin-top: 0;
}

#description .card h3{
    color: dodgerblue;
    font-size: 2rem;
    margin: 2.5rem 0;
}

#description .card p{
    color: rgb(71, 71, 71);
}

#description .card a{
    display: inline-block;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    background-color: dodgerblue;
    margin: 2rem 0;
    padding: 0.8rem 3rem;
    border-radius: 2rem;
}

#description img{
    display: block;
    width: 100%;
}

#description i{
    color: dodgerblue;
}


#description .big .card i{
    color: white;
}

/* planning */

#planning{
    background-color: #9792E3;
    padding: 4rem 2rem;
    color: white;
}

#planning .left, #planning .right{
    width: 100%;
    margin-bottom: 2rem;
    padding: 1.5rem 0;
}

#planning .right{
    background-color: white;
    color: black;
    border-radius: 2.5rem;
    padding: 1.5rem;
}

#planning h3{
    font-size: 2rem;
    margin: 2rem 0;
}

#planning img{
    width: 100%;
}

.right {
    text-align: center;
}

.right a{
    display: block;
    margin: 1.5rem auto;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #9792E3;
    color: black;
    line-height: 4rem;
}

/* testimonials */

#testimonials{
    padding: 4rem 2rem;
    text-align: center;
}

#testimonials h3{
    margin: 1.5rem 0;
    color: #9792E3;
    font-size: 2.5rem;
}

#testimonials .card{
    background-color: #9792E3;
    border-radius: 1.5rem;
    margin: 2rem 0;
    padding: 2rem 1.5rem;
}

#testimonials .image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25rem;
    width: 15.6rem;
    height: 15.6rem;
    border-radius: 50%;
    margin: 0 auto;
}

#testimonials .testimonials-1{
    background-image: url('../img/testimonial1.jpg');
}

#testimonials .testimonials-2{
    background-image: url('../img/testimonial2.jpg');
}

#testimonials .testimonials-3{
    background-image: url('../img/testimonial3.jpg');
}


#testimonials .card p{
    color: white;
    margin: 1.5rem 0;
    font-size: 1.2rem;
    line-height: 2rem;
}

#testimonials strong{
    color: white;
    font-size: 1.7rem;
}

/* benefits */

#benefits{
    background-color: #9792E3;
    padding: 4rem 2rem;
    text-align: center;
}

#benefits .card{
    background-color: white;
    border-radius: 1.5rem;
    margin: 2rem 0;
    padding: 2rem 1.5rem;
    text-align: left;
}

#benefits h3{
    color: white;
    font-size: 2.8rem;
    margin-bottom: 2rem;
}

#benefits .card h3{
    color: #9792E3;
}

#benefits .card h4{
    color: #9792E3;
    margin: 1.5rem 0;
    font-size: 2rem;
}

#benefits .card p{
    color: rgb(99, 99, 99);
}

#benefits .card a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: #9792E3;
    padding: 0.8rem 3.5rem;
    border-radius: 2rem;
    margin-top: 2rem;
}


/* about us */

#about-us{
    padding: 4rem 2rem;
}

#about-us .image{
    width: 12.5rem;
    height: 12.5rem;
    background-color: white;
    border-radius: 50%;
    margin: 1.5rem 0;
}

#about-us a{
    text-decoration: none;
    color: white;
    background-color: #9792E3;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    display: inline-block;
}

#about-us h2{
    color: #9792E3;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

#about-us p{
    font-size: 1.2rem;
    line-height: 2.5rem;
}

#about-us .image{
    background-image: url('../img/about.jpg');
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 2.5rem;
    background-size: 12.5rem;
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    position: relative;
}

#about-us .image i{
    position: absolute;
    right: 0;
    top: 0;
    color: #9792E3;
    margin-top: -15px;
}

#about-us h3{
    color: #9792E3;
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
}

/* get started */

#get-started{
    background-color: #9792E3;
    padding: 4rem 2rem;
    text-align: center;
    color: white;
}

#get-started h3{
    font-size: 2.2rem;
    margin: 2rem 0;
}

#get-started h2{
    color: #FDC15E;
    font-size: 4rem;
    margin-bottom: 2rem;
}

#get-started a{
    font-weight: 700;
    font-size: 1.2rem;
    display: inline-block;
    text-decoration: none;
    color: #9792E3;
    background-color: white;
    padding: 1rem 5rem;
    border-radius: 3rem;
    margin: 2rem 0;
}

/* footer */
footer{
    background-color: #333333;
    padding: 1.5rem 2rem;
    text-align: center;
}

footer p{
    color: white;
    margin: 1.5rem 0;
}

footer a{
    color: #9792E3;
    text-decoration: underline;
}
