@media screen and (min-width: 768px) {

#description .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -0.8rem;
}

#description .column{
    width: calc(100% / 3);
    padding: 0 0.8rem;
}

#description .big{
    width: calc(100% / 3 * 2);
}

#description img{
    width: 50%;
}

/* planning */

#planning .left h3{
    font-size: 5rem;
}

/* testimonials */

#testimonials .card{
    display: flex;
    align-items: center;
    text-align: left;
}

#testimonials .image{
    width: 1rem;
    height: 1rem;
}

#testimonials .text{
    padding-left: 2rem;
}

/* benefits */

#benefits .row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.8rem;
}

#benefits .column{
    width: 50%;
    padding: 0 0.8rem;
}

#benefits .card{
    margin-bottom: 0;
}

/* about us */

#about-us .container{
    display: flex;
}

#about-us .text{
    width: 65%;
    padding: 0 4rem 0 2rem;
}

#about-us .cit{
    width: 35%;
}

/* get started */

#get-started .container{
    width: 40rem;
}

#get-started h3{
    font-size: 3rem;
}


#get-started h2{
    font-size: 5rem;
}

/* footer */
footer .container{
    width: 30rem;
}

}