@media screen and (min-width: 768px) {

#description .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -10px;
}

#description .column{
    width: calc(100% / 3);
    padding: 0 10px;
}

#description .big{
    width: calc(100% / 3 * 2);
}

#description img{
    width: 50%;
}

/* planning */

#planning .left h3{
    font-size: 5rem;
}

/* testimonials */

#testimonials .card{
    display: flex;
    align-items: center;
    text-align: left;
}

#testimonials .image{
    width: 250px;
    height: 250px;
}

#testimonials .text{
    padding-left: 30px;
}

/* benefits */

#benefits .row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

#benefits .column{
    width: 50%;
    padding: 0 10px;
}

#benefits .card{
    margin-bottom: 0;
}

/* about us */

#about-us .container{
    display: flex;
}

#about-us .text{
    width: 65%;
    padding: 0 60px 0 30px;
}

#about-us .cit{
    width: 35%;
}

/* get started */

#get-started .container{
    width: 600px;
}

#get-started h3{
    font-size: 3rem;
}


#get-started h2{
    font-size: 5rem;
}

/* footer */
footer .container{
    width: 500px;
}

}